asgiref==3.8.1
beautifulsoup4==4.13.4
cffi==1.17.1
contourpy==1.0.7
cryptography==44.0.0
cycler==0.11.0
Django==4.2.20
django-bootstrap-v5==1.0.11
fonttools==4.39.3
gunicorn==23.0.0
kiwisolver==1.4.4
matplotlib==3.7.1
mysqlclient==2.2.7
numpy==1.24.2
opencv-python-headless==4.11.0.86
packaging==23.0
pandas==2.2.1
Pillow==9.4.0
pycparser==2.22
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2024.1
scipy==1.12.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2024.1
